{% extends 'base.html' %}

{% load static %}


{% block title %} Gallery {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}
{% block content %}

  <div class="wrapper1">
    <!-- filter Items -->
    <nav>
      <div class="items">
        <span class="item active" data-name="all">All</span>
        {% for image in images %}
          {% if image.category != '' %}
            <span class="item" data-name="{{image.category}}">{{image.category}}</span>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
    <!-- filter Images -->
    <div class="gallery">
      {% for image in images %}
        <div class="image" data-name="{{image.category}}"><span><img src="{{image.image.url}}" alt=""></span></div>
      {% endfor %}
    </div>
  </div>
  <!-- fullscreen img preview box -->
  <div class="preview-box">
    <div class="details">
      <span class="title">Image Category: <p></p></span>
      <span class="icon fas fa-times"></span>
    </div>
    <div class="image-box"><img src="" alt=""></div>
  </div>
  <div class="shadow"></div>
  
  
  <script src="{% static 'js/gallery.js' %}"></script>

  {% endblock %}
