{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/chelsea.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <input type="checkbox" id="btn" hidden>
        <label for="btn" class="menu-btn">
            <i class="fa fa-bars"></i>
            <i class="fa fa-times"></i>
        </label>
        <nav id="sidebar">
            <div class="title">
                Menu
            </div>
            <ul class="list-items">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="{% url 'gallery' %}"><i class="fa fa-image"></i>Gallery</a></li>
                <li><a href="{% url 'resume' %}"><i class="fa fa-user"></i>About</a></li>
                <li><a href="{% url 'contact' %}"><i class="fa fa-phone"></i>Contact</a></li>	
                <li><a href="{% url 'login' %}"><i class="fa fa-users"></i>Login</a></li>
                <div class="icons">
                    <a href="http://fb.com/longvu2907"><i class="fa fa-facebook-f"></i></a>
                    <a href="http://github.com/longvu2907"><i class="fa fa-github"></i></a>
                    <a href="https://www.youtube.com/channel/UCqISnzybvOkDOuBkZN3lCqg"><i class="fa fa-youtube"></i></a>
                </div>
            </ul>
        </nav>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
        <div id="particles-js"></div> 
    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>

</body>
</html>